.publicity__slider {

}
.image__container{

}
.sliderImg {
    width: 200px;
    background: url('../img/venarus900.png');
}
.img {

}
.sliderImg2 {
    background: url('../img/venarus900.png');
}
.sliderImg3 {
    background: url('../img/venarus450.png');
}
.sliderBtnl {

}
.sliderBtn {

}
.sliderBtnR {

}