.publicity__slider {

}
.image__container{
    min-width: 200px;
}
.sliderImg {
    width: 468px;
    height: 276px;
    background: url('../img/venarus900.png') no-repeat;
    background-size: cover;
}
.img {

}
.sliderImg2 {
    background: url('../img/venarus900.png');
}
.sliderImg3 {
    background: url('../img/venarus450.png');
}
.sliderBtnl {
    border: 1px solid #5B0E58;
    border-radius: 50%;
}
.sliderBtn {

}
.sliderBtnR {

}