.publicity__slider {

}
.image__container{
    display: flex;
    justify-content: center;
}
.sliderImg {
    min-width: 100px;
    height: 276px;
    background: url('../img/venarus900.png')  no-repeat;
    /* background-size: cover; */
}
.img {

}
.sliderImg2 {
    background: url('../img/venarus900.png');
}
.sliderImg3 {
    background: url('../img/venarus450.png');
}
.sliderBtnl {

}
.sliderBtn {

}
.sliderBtnR {

}