* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    
}

.container {
    position: relative;
    margin: 0 auto;
    width: 320px;
}

.burgerMenu {
    position: absolute;
    background-color: azure;
    width: ;
}