@media (min-width: 500px)  {
    body {
        width: 100%;
        /* width: 100%; */
        max-width:780px;
    }
    .header__logo {
        width: 160px;
        height: 28px;
    }
    .container{
        margin: 15px 25px;
    }
    .icon {
        width: 30px;
        height: 100%;
        margin-right: 10px;
    }
    .footer {
        max-width: 700px;
        text-align: center;
    }
    .footer__ad {
        display: flex;
        justify-content: center;
    }
    .publicity {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 4fr 1fr 1fr ;
        grid-template-areas: 
        'header contain'
        'nav contain'
        'nav contain'
        ;
    }
    .publicity__header {
        padding-left: 20px;
        width: 100%;
        white-space: wrap;
    }
    .publicity__slider {
        
        width: 100%;
    }
    .image__container {
    }
    .img {
        position: static;
        left: 0;
        width: 100%;
    }
    .publicity__slider {
        flex-direction: column;
    }
    .publicity__btn {
        display: flex;
        justify-content: center;
    }
    .publicity .btn {
        display: block;
    }
    .publicity__nav {
        width: 33vw;
    }
    .nav__container {
        justify-content: start;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .sliderButtons {
        display: flex;
        justify-content: center;
    }
    
    .btn {
        color: #fff;
        border: 1px solid #fff;
    }
    .sliderBtn {
        position: relative;
        border: 1px solid #fff;
    }
    .sliderBtn div {/**/
        background: url('../img/arrowDesc.png') center/ contain no-repeat;
        margin: 9px 8px ;
        width: 13px;
        height: 13px;
    }
    .btn__play {
        top: 44%;
        left: 47%;
    }
    .info__btn .btn {
        display: flex;
        justify-content: center;
    }
    .btn__block .btn {
        border: 1px solid #5B0E58;
    }
}

.publicity__header {
    grid-area: header;
}
.publicity__slider {
    grid-area: slider;
}
.sliderButtons {
    grid-area: sliderBtn;
}
.btn {
    grid-area: btn;
}
.publicity__nav {
    grid-area: nav;
}
.slider__container {
    grid-area: contain;
}

@media (min-width: 780px) {
    body {
        max-width: 900px;
    }
    .container{
        margin: 15px 60px;
    }
    .header {
    }
    h1 {
        font-size: 48px;
    } 
    .btn__play {
        top: 44%;
        left: 47%;
    }
    .publicity {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 2fr 1fr;
        grid-template-areas: 
        
        'header .'
        'header contain'
        'nav contain'
        'nav .'
        ;
    }
    .publicity__header {
        /* padding-left: 20px; */
        width: 100%;
        white-space: wrap;
    }
    .publicity__slider {
        
        width: 100%;
    }
    .image__container {
    }
    .img {
        position: static;
        left: 0;
        width: 100%;
    }
    .publicity__slider {
        flex-direction: column;
    }
    .publicity__btn {
        display: flex;
        justify-content: center;
    }
    .publicity .btn {
        display: block;
    }
    .publicity__nav {
        width: 25vw;
    }
    .nav__container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .nav__container li {
        margin:10px 0;
    }
    .publicity__nav div{
        width: 32px;
        height: 32px;
    }
    .sliderButtons {
        display: flex;
        justify-content: center;
    }
    .action__complex {
        display: flex;
        
    }
    .complex__container {
        justify-content: start;
        width: 30vw;
    }
    .btn {
        color: #fff;
        border: 1px solid #fff;
    }
    .sliderBtn {
        position: relative;
        border: 1px solid #fff;
    }
    .sliderBtn div {/**/
        background: url('../img/arrowDesc.png') center/ contain no-repeat;
        margin: 9px 8px ;
        width: 13px;
        height: 13px;
    }
    .aboutProduction {
        margin-top: 30px;
    }
}

@media (min-width: 900px) {
    body{
        max-width: 1240px;
    }
    a {
        font-size: 18px;
    }
    .container{
        margin: 15px 60px;
    }
    .btn {
        color: #fff;
        border: 1px solid #fff;
        width: 263px;
        height: 67px;
        font-size: 18px;
    }
    
    .sliderBtn {
        border: 1px solid #fff;
        width: 68px;
        height: 68px;
        margin-bottom: 32px;
    }
    .sliderBtn div {/**/
        background: url('../img/arrowDesc.png') no-repeat;
        margin: 19px 0 0 21px;
        width: 27px;
        height: 27px;
    }
    .img {
        position: absolute;
        left: 0;
    }
    .sliderImg {
        z-index: 1;
    }
    
    .sliderImg2{
        left: -143px;
        top: -45px;
        z-index: 0;
        display: block;
    }
    .sliderImg3{
        top: -60px;
        left: 120px;
        z-index: 0;
        display: block;
    }
    .image__container {
        position: relative;
        height: 276px;
    }
    .action__complex ul{
        width: 100%;
    }
    .action__complex ul li {
        position: relative;
        padding: 60px 0;
    }
    .action__benefits {
        justify-content: space-between;
        margin: 30px 0;
        max-width: 1140px;
        height: 67px;
    }
    .action .icon {
        width: 34px;
        height: 34px;
    }
    .benefits__text {
        white-space: pre-line;
    }
    .complex__text {
        white-space: pre-line;
    }
    .complex__circlAnim {
        width: 70px;
        height: 70px;
    }
    .anim1__circle{
        left: -3.5px;
        top: -3.5px;
        width: 120%;
        height: 120%;
    }
    .anim1 {
        width: 60%;
        height: 60%;
    }
    .anim1::before {
        width: 100%;
        height: 100%;
    }
    .anim1::after {
        width: 100%;
        height: 100%;
    }
    .anim2 {
        width: 60px;
        height: 60px;
        
    }
    .anim3 {
        width: 80%;
        height: 80%;
    }
    .anim4 {
        width: 80%;
        height: 80%;
    }
    .a5, .b5 {
        width: 27px;
        height: 27px;
    }  
}


@media (min-width: 1190px) {
    body {
        max-width: 1440px;
    }
    .header__logo {
        width: 203px;
        height: 39px;
    }
    .icon {
        width: 48px;
        height: 48px;
        margin-right: 44px;
    }
    .header__burgerbtn {
        width: 48px;
        height: 48px;
    }
    .header__burgerbtn div {
        width: 48px;
        height: 10px;
    }
    .publicity__slider {
        width: 900px;
        height: 400px;
    }
    .image__container {
        width: 900px;
        height: 400px;
    }
    
    .sliderImg2 {
        left: -223px;
        top: -63px;
    }
    .sliderImg3 {
        left: 227px;
        top: -89px;
    }

    .img {
        width: 100%;
        height: 100%;
    }
    .complex__container {
        width: 263px;
        font-size: 16px;
        margin-right: 29px;
    }
    .complex__container h2 {
        font-size: 30px;
        margin-bottom: 38px;
    }
    .complex__container p {
        opacity: .5;
    }
    .action__complex ul {
        position: relative;
        font-size: 30px;
    }
    .action__complex ul li {
        position: relative;
        padding: 100px 0;
    }
    .complex__circlAnim {
        width: 134px;
        height: 134px;
        position: absolute;
        left: 130px;
    }
    .circle1 {
        top: 20px;
    }
    .circle2 {
        top: 50px;
        left: 700px;
    }
    .circle3 {
        top: -40px;
        left: 35px;
    }
    .circle4 {
        top: 100px;
        left: 700px;
    }
    .circle5 {
        top: 80px;
    }
    .action__complex li {
        white-space: pre-line;
        justify-content: start;
    }
    .action__complex li a {
        padding-top: 100px;
        margin-right: 250px;
    }
    .complex__text {
        padding-bottom: 30px;
    }
    
    .anim1__circle {
        left: -6px;
        top: -6px;
        width: 104px;
        height: 104px;
    }
    .anim1 {
        left: 0px;
        top: 0px;
        width: 90px;
        height: 90px;
    }
    .anim1::before {
        left: 0px;
        top: 0px;
        width: 90px;
        height: 90px;
    }
    .anim1::after {
        left: 0px;
        top: 0px;
        width: 90px;
        height: 90px;
    }
    .anim2 {
        width: 150px;
        height: 150px;
        
    }
    .a, .b {
        width: 400px;
        height: 400px;
    }
    .anim2 .a {
        left: -266px;
        top: -256px;
    }
    .anim2 .b {
        left: 15px;
        top: 27px;
    }
    .a5, .b5 {
        width: 50px;
        height: 50px;
    }
    .aboutProduction {
        max-width: 1440px;
        width: 95vw;
        flex-direction: row;
        justify-content: center;
    }
    .aboutProduction h2 {
        width: 20%;
        font-size: 30px;
    }
    .aboutProduction .wave {
        left: 0px;
        top: -28px;
    }
    .aboutProduction__slider {
        width: 60%;
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: 
        'img_group img_arrow'
        'img_btn .';
    }
    .aboutProduction__slider .btn {
        grid-area: img_btn;
        justify-self: flex-end;
        align-self: start;
    }
    .img11 {
        width: 50%;
        height: 100%;
    }
    
    .image__group {
        grid-area: img_group;
        align-items: center;
    }
    .prodActiv {
        display: block;
        margin-left: 20px;
        width: 458px;
        height: 270px;
    }
    .production__arrow {
        grid-area: img_arrow;
        display: flex;
        flex-direction: column;
    }
    .production__image1 {
        width: 263px;
        height: 150px;
        display: block;
    }
    .btn__play {
        width: 67px;
        height: 67px;
        left: 65%;
        top: 40%;
    }
    .btn__play div {
        height: 22px;
        left: 26px;
        top: 22px;
    }
    .expertOpinion {
        margin-top: 100px;
        overflow: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
    .expertOpinion h2 {
        font-size: 30px;
        white-space: pre-line;
    }
    .expertOpinion p {
        margin-top: 26px;
        width: 263px;
    }
    .expertOpinion__slider {
        width: 847px;
        align-items: end;
    }
    .expert__image {
        width: 847px;
    }
    .radio__btn {
        margin-right: auto;
    }
    .img22 {
        width: 847px;
        height: 570px;
    }
    .info {
        margin:100px 0 0 0;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .info:last-child {
        align-items: end;
    }
    .info__header {
        width: 263px;
        /* flex: 0 0 20%; */
    }
    .info__header h2 {
        font-size: 30px;
    }
    .info__header p {
        margin-top: 26px;
        white-space: pre-line;
    }
    .info__card {
        margin: 0;
        height: 457px;
        flex: 0 0 70%;
        grid-gap: 30px;
    }
    .card .card__img h3{
        font-size: 36px;
        font-weight: 400;
    }
    .info__btn {
        padding-right: 5%;
        margin-left: auto;
    }
    .buy {
        margin-top: 100px;
        height: 500px;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
    .buy__block {
        width: 70%;
    }
    .buy__header {
        width: 263px;
    }
    .buy__header h2 {
        font-size: 30px;
    }
    .buy__header p {
        margin-top: 26px;
    }
    .buy__img_container {
        height: 400px;
    }
    .buy__img1 {
        left: 75px;
    }
    .buy__img2 {
        left: -60px;
    }
    .btn__block {
        width: 100%;
    }
    .buy__img1, .buy__img2 {
        width: 100%;
    }
    .btn__block .btn {
        width: 263px;
        height: 67px;
        border: 1px solid #5B0E58;
    }
    .footer {
        max-width: 100vw;
        height: 234px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer__header {
        font-size: 31px;
        font-weight: normal;
    }
    .footer__container {
        text-align: start;
        display: flex;
        justify-content: space-between;
    }
    .footerLink {
        margin-bottom: 42px;
    }
    .footer__ad {
        align-items: end;
    }
    .footer__ad p {
        white-space: pre-line;
    }
    .iconFooter {
        width: 24px;
        height: 24px;
    }
}

