.aboutProduction {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}
.aboutProduction__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img11 {
    width: 80vw;
    height: 300px;
}
.image__group {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}
.img2 {
}
.production__image2 {
}
.img {
}
.prodActiv {
}
.img1 {
}
.production__image1 {
}

.production__arrow {
    margin: 20px 0;
}
.slider_arrow_back {
}
.sliderBtn {
}
.slider_arrow_front {
}

.production__image1 {
    display: none;
    background: url('../img/prodImage1Mob.png') center/ contain no-repeat;
}

.production__image2 {
    display: none;
    background: url('../img/prodImage2.png') center/ contain no-repeat;
}
.prodActiv {
    display: block;
}

.btn__play {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 44%;
    top: 44%;
    width: 40px;
    height: 40px;
    border: 1px solid #5B0E58;
    border-radius: 50%;
    opacity: 0.7;
}
.btn__play div {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 14px;
    top: 9px;
    border: 10px solid transparent; 
    border-left: 15px solid #47093E;
}

.production__arrow {

}
.slider_arrow_back {
}
.slider_arrow_front {
    transform: scale(-1, 1);
}