@import url('./publicity.css');
@import url('./salesSlider.css');
@import url('./production.css');
@import url('./expertOpinion.css');
@import url('./info.css');
@import url('./buy.css');
@import url('./wave.css');

/* @import url('./mediaQuery.css'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 5px;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Roboto';
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
}

.container {
    overflow: hidden;
    margin: 10px;
}

.burgerMenu {
    display: none;
    position: absolute;
    background-color: azure;
    width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.header__container{
    display: flex;
}

.header__logo {
    width: 135px;
    height: 25px;
    background: url('../img/logoMob.png') 0 0 no-repeat;
    background-size: contain;
}
.header__search {
    width: 24px;
    height: 25px;
    background: url('../img/searchIcon.png') 0 0 no-repeat;
    background-size: contain;
}
.header__location {
    width: 24px;
    height: 25px;
    background: url('../img/locationIcon.png') 0 0 no-repeat;
    background-size: contain;
}

.icon {
    margin: 0 5px;
}

.sales__container {
    width: 100%;
    overflow: hidden;
}

.prompt {
    cursor: pointer;
    margin-left: 5px;
    align-self: flex-end;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #540C50;
    border:1px solid #540C50;
    border-radius: 50%;
}
.prompt:hover::after {
    content: attr(data-title);
    position: absolute;
    background: rgb(238, 222, 241);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    top: 60px;
    right: 20px;
    animation: prompt 0.2 linear infinite;
    z-index: 100;
}

@keyframes prompt {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.header__burgerbtn {
    margin: 0 0 0 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 4px 0;
}

.header__burgerbtn div {
    background-image: url('../img/wave.png');
    background-size: contain;
    width: 25px;
    height: 5px;
    margin: 1px 0;    
}

.img {
    position: absolute;
    width: 100vw;
    height: 276px;
    left: -2px;
}


.btn {
    position: relative;
    z-index: 5;
    cursor: pointer;
    width: 132px;
    height: 34px;
    border: 1px solid #5B0E58;
    border-radius: 33.5px;
    background: none;
    color: #5b0e58;
}

.btn:hover {
    opacity: 0.66;
    color: white;
    background: #47093E;
    transition: .3s;
}

.action {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.action__benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.benefits__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.action .icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.benefits__icon1 {
    background: url('../img/benefitsIcon1.png') center/ contain no-repeat;
}
.benefits__icon2 {
    background: url('../img/benefitsIcon2.png') center/ contain no-repeat;
}
.benefits__icon3 {
    background: url('../img/benefitsIcon3.png') center/ contain no-repeat;
}
.benefits__text {

}
.action__complex {
    
}

.complex__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action__complex li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5B0E58;
    height: 80px;
    padding: 10px 5px;
    margin: 10px;
}
.action__complex li:last-child {
    border-bottom: 1px solid #5B0E58;
}
.action__complex a {
}
.complex__circlAnim {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px;
    min-width: 50px;
    min-height: 50px;
    background-color: #5B0E58;
    border-radius: 50%;
}
.complex__text {
    white-space: wrap;
}

.anim1__circle{
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    width: 120%;
    height: 120%;
    background: #5B0E58;
    border-radius: 50%;
    z-index: 2;
}
.anim1 {
    position: relative;
    width: 30px;
    height: 30px;
    background: #5B0E58;
    border: 0.5px solid #fff;
    transform: rotate(30deg);
    opacity: 0.8;
    animation: 3s rotate linear infinite;
}
.anim1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #5B0E58;
    border: 0.5px solid #fff;
    width: 100%;
    height: 100%;
    transform: rotate(30deg);
}
.anim1::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 0.5px solid #fff;
    background: #5B0E58;
    width: 100%;
    height: 100%;
    transform: rotate(60deg);
}

@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(30deg);
    }
    
}

.anim2{

}
.anim3 {
}
.anim4 {
}
.anim5 {
}

.line {
    position: absolute;
    left: 0;
    width: 100vw;
    padding: 30px 0 0 0;
    background: linear-gradient(360deg, rgba(71, 9, 62, 0.5) -7.14%, rgba(255, 255, 255, 0) 100%);
    background-blend-mode: multiply
}

.footer {
    max-width: 500px;
    /* width: 95vw; */
    padding: 50px 0 10px 0;
    
}


.footer__header {
    color: #540C50;
}
.footer__container {

    margin: 10px 0 0 0;
    color: #000;
}

.footer__container div {
    margin: 5px 0;
}
.footer__container a {
    opacity: 0.5;
    color: #000;
    text-decoration: none;
}
.footer__container a:active {
    color: #000;
}

.footer__container p {
}

.footerLink {
    display: inline-block;
    padding: 5px 0;
}

.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.iconFooter {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.social__icon_vk {
    background: url('../img/vk.png') center/contain no-repeat;
}
.social__icon_facebook {
    background: url('../img/facebook.png') center/contain no-repeat ;
}
.social__icon_twitter {
    background: url('../img/twitter.png') center/contain no-repeat;
}
.social__icon_ok {
    background: url('../img/ok.png') center/contain no-repeat;
}
.footer__ad {
    display: flex;
    flex-direction: row;


}
.footer__logo {
    width: 85px;
    height: 30px;
    background: url('../img/logoFooter.png') center/contain no-repeat;
}

