@import url('./publicity.css');
@import url('./salesSlider.css');
@import url('./production.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    max-width: 500px;
    min-width: 320px;
    /* overflow: hidden; */
    margin: 0 auto;
}

.container {
    margin: 10px;
}

.burgerMenu {
    display: none;
    position: absolute;
    background-color: azure;
    width: 320px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.header__container{
    display: flex;
}

.header__logo {
    width: 135px;
    height: 25px;
    background: url('../img/logoMob.png') 0 0 no-repeat;
    background-size: contain;
}
.header__search {
    width: 24px;
    height: 25px;
    background: url('../img/searchIcon.png') 0 0 no-repeat;
    background-size: contain;
}
.header__location {
    width: 24px;
    height: 25px;
    background: url('../img/locationIcon.png') 0 0 no-repeat;
    background-size: contain;
}

.icon {
    margin: 0 5px
}

.header__burgerbtn {
    margin: 0 0 0 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 4px 0;
}

.header__burgerbtn div {
    background-image: url('../img/wave.png');
    background-size: contain;
    width: 25px;
    height: 5px;
    margin: 1px 0;    
}

.img {
    position: absolute;
    width: 100vw;
    height: 276px;
    left: -2px;
}


.btn {
    cursor: pointer;
    width: 132px;
    height: 34px;
    border: 1px solid #5B0E58;
    border-radius: 33.5px;
    background: none;
}

.action {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.action__benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.benefits__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.action .icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}
.benefits__icon1 {
    background: url('../img/benefitsIcon1.png') center/ contain no-repeat;
}
.benefits__icon2 {
    background: url('../img/benefitsIcon2.png') center/ contain no-repeat;
}
.benefits__icon3 {
    background: url('../img/benefitsIcon3.png') center/ contain no-repeat;
}
.benefits__text {

}
.action__complex {

}

.complex__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action__complex li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border:1px #5B0E58 ;
    border-style: solid none ;
    height: 80px;
    padding: 10px 5px;
    margin: 10px;
}
.action__complex a {
    /* margin-right: 15px; */
}
.complex__circlAnim {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px;
    min-width: 50px;
    height: 50px;
    background-color: #5B0E58;
    border-radius: 50%;
}
.complex__text {
    /* width: 180px; */
    white-space: wrap;
}

.anim1 {
    width: 40px;
    height: 40px;
    background: url('../src/circle.svg');
}
.anim2 {
}
.anim3 {
}
.anim4 {
}
.anim5 {
}